<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.scut.bookshop.dao.BookDao">
    <select id="getBookDetail" resultType="BookDetail">
        select * from `book_t` where `id` = #{id}
    </select>
    <select id="getBookCategories" resultType="BookCategory">
        select * from `category_t`
    </select>
    <select id="getBookTagRelations" resultType="BookTag">
        select id,title from `tag_t`,`book_tag_t` where book_tag_t.book_id=#{id} and tag_t.id=book_tag_t.tag_id
    </select>
    <select id="getShortComments" resultType="java.lang.String">
        select `comment` from `short_comment_t` where `book_id` = #{id}
    </select>

    <select id="getAllBookInCatagory" resultType="BookSimpleDetail">
      select * from `book_t` where `id`
      in (select `book_id` as `id`
      from (select `id` from `tag_t` where category_id = #{category_id})
      as T join `book_tag_t` as BT on T.id = BT.tag_id
      ) ORDER BY douban_score desc
    </select>
    <select id="getAllBookCategories" resultType="java.util.Map">
        select * from `category_t`
    </select>
</mapper>